<h2>Star Wars Movies:</h2>

<input [(ngModel)]="searcheTitle" placeholder="Filter by Movie Title">
<table>
  <thead>
  <tr >
    <td class="title-column">{{ 'Title' }}</td>
    <td>{{ 'Director' }}</td>
    <td>{{ 'Release Date' }}</td>
  </tr>
  </thead>
  <tbody *ngIf="(movies$ | async)?.length > 0; else loading">
  <tr
    *ngFor="let movie of movies$ | async | filterByTitles:searcheTitle | paginate: { itemsPerPage: itemsPerPage,
        currentPage: currentPage }"
  >
    <td class="title-column">
      <a [routerLink]="[ detailsRoute, getMovieId(movie)]">{{ movie.title }}</a>
    </td>
    <td>{{ movie.director }}</td>
    <td>{{ movie.release_date | date }}</td>
  </tr>
  </tbody>
</table>

<ng-template #loading>
  <tbody>
    <h1>Loading...</h1>
  </tbody>
</ng-template>

<pagination-controls *ngIf="movies$ | async" (pageChange)="currentPage = $event"></pagination-controls>


